@import '@fontsource-variable/gabarito';

:root {
	height: 100%;

	--font: 'Gabarito Variable', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--bg-0: hsl(209, 20%, 90%);
	--frosted: hsla(0, 0%, 100%, 75%);
	--bg-1: hsl(0, 0%, 100%);
	--bg-2: hsl(224, 44%, 95%);
	--accent-0: rgb(0, 0, 0);
	--accent-0-light: rgb(0, 0, 0, 12.5%);
	--accent-old: rgb(154, 154, 240);
	--danger: #bb0000;
	--text: rgba(20, 20, 20, 1);
	--text-weak: rgba(20, 20, 20, 0.75);
	--text-bg: rgba(20, 20, 20, 0.1);
	--text-bad: rgb(233, 80, 80);
	--text-okay: rgb(230, 187, 59);
	--text-good: rgb(80, 200, 80);
	--noti-success: rgb(50, 225, 50);
	--noti-warning: rgb(255, 205, 0);
	--noti-error: rgb(225, 50, 50);
	--noti-info: rgb(50, 130, 225);
	--shadow: -0.125rem 0.125rem 1rem #00000035;
	--shadow-strong: -0.125rem 0.125rem 0.5rem #00000050;
	--shadow-stronger: -0.125rem 0.125rem 1rem #00000095;
	--blur: blur(0.5rem);
	--transition: all 0.2s ease-out;
	--transition-fast: all 0.1s ease-out;
	font-family: var(--font);
	color: var(--text);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

* {
	transition: var(--transition);
}

body {
	height: 100%;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--bg-0);
	background-size: 100vw 100vh;
}

main {
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.row {
	width: 100%;
	height: 100%;
	display: flex;
}

.column {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

p {
	line-height: 1.5;
}

.bold {
	font-weight: bold;
}

.good {
	color: var(--text-good);
}

.bad {
	color: var(--text-bad);
}

a {
	color: var(--accent-0);
	text-decoration: underline;
	text-underline-offset: 0.125rem;
}

a:hover, a:focus {
	text-underline-offset: 0.0625rem;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input, button, textarea {
	margin: 0;
	padding: 0.25rem;
	font-size: inherit;
	font-family: inherit;
	background: none;
	color: var(--text);
	font-weight: bold;
	border: 0.125rem solid var(--accent-0);
	border-radius: 0.25rem;
	box-shadow: 0px 0px 0.25rem #0000;
}

button:hover {
	transform: translate(0.125rem, -0.0625rem);
	box-shadow: -0.125rem 0.0625rem 0.25rem #0008;
}

button:hover svg {
	/* filter: drop-shadow(1rem 1rem 1rem rgba(0, 0, 0, 1)); */
	filter: drop-shadow(var(--shadow-strong));
}

input:focus {
	outline: none;
}

button:focus {
	outline: none;
	box-shadow: -0.125rem 0.0625rem 0.25rem #0008;
}

input {
	cursor: text;
}

button {
	cursor: pointer;
}

input.dangerous, button.dangerous {
	background: var(--danger);
	color: var(--bg-0);
	border: 0.125rem solid transparent;
}

input.none, button.none {
	border: 0.125rem solid transparent;
}

button.none:hover, button.none:focus {
	box-shadow: none;
	text-shadow: var(--shadow);
}

input.fill, button.fill {
	background: var(--accent-0);
	color: var(--bg-0);
	border: 0.125rem solid transparent;
}

input.disabled, button.disabled {
	background: lightgray;
	color: var(--text);
	border: 0.125rem solid transparent;
	pointer-events: none;
	transform: none;
	box-shadow: none;
	cursor: not-allowed;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
